<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>482755676608-6t7bq97lfma5a92aqff30l3k6cv930g1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.482755676608-6t7bq97lfma5a92aqff30l3k6cv930g1</string>
	<key>API_KEY</key>
	<string>AIzaSyBh6u2PKhzQCTkz7MQkH-pgSd_aCYonOb8</string>
	<key>GCM_SENDER_ID</key>
	<string>482755676608</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.none.foodapp</string>
	<key>PROJECT_ID</key>
	<string>food-app-18258</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-18258.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:482755676608:ios:a8f35696b52f8256f9a025</string>
	<key>DATABASE_URL</key>
	<string>https://food-app-18258.firebaseio.com</string>
</dict>
</plist>
